Repository rue-ryuzaki/argparse: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, deploy_latest

build:
  stage: build
  parallel:
    matrix:
    - standard:
      - 98
      - 11
      - 14
      - 17
      - 20
      - 23
      - 26
  variables:
    BUILD_TYPE: Release
    OUTPUT_REPORT: test-results.xml
  script:
  - cmake -S . -B build/${standard} -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DCMAKE_CXX_STANDARD=${standard}
  ...

deploy_latest:
  stage: deploy
  script:
  - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ${PWD}/include/argparse/argparse.hpp "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/argparse/latest/argparse.hpp"'

[tests] Update: nargs tests
  tests/unit-argument_nargs.cpp
Due: build

Fix: combined nargs implementation
  include/argparse/argparse.hpp
Due: build, deploy_latest

[docs] Change commands to at-sign
  include/argparse/argparse.hpp
Due: build, deploy_latest

[docs] Cleanup comments
  include/argparse/argparse.hpp
Due: build, deploy_latest

[docs] Rewrite comments
  include/argparse/argparse.hpp
Due: build, deploy_latest

[docs] Update comments
  include/argparse/argparse.hpp
Due: build, deploy_latest

[utils] Update: self_test report
  include/argparse/argparse.hpp
Due: build, deploy_latest

[examples] Remove unused header
  examples/cpp-generes/src/main.cpp
Due: none

Set: version to v1.10.2
  CHANGELOG.md
  include/argparse/argparse.hpp
Due: build, deploy_latest

Update: README.md
  README.md
Due: none

[cmake] Move: packaging scripts to cmake file
  CMakeLists.txt
  cmake/packaging.cmake
Due: build

Move #undef ARGPARSE_DEVELOP up
  include/argparse/argparse.hpp
Due: build, deploy_latest

Fix: gcc-9 build warning
  include/argparse/argparse.hpp
  tests/unit-overflow.cpp
Due: build, deploy_latest

[github] Update: codeql.yml
  .github/workflows/codeql.yml
Due: none

[cmake] Fix: MSVC compile definitions
  CMakeLists.txt
Due: build

[docker] Add: Dockerfile
  Dockerfile
Due: none

Update: .gitignore
  .gitignore
Due: none

Update: standard's macro usage
  include/argparse/argparse.hpp
Due: build, deploy_latest

Add: ARGPARSE_LANG macro
  include/argparse/argparse.hpp
Due: build, deploy_latest

Add: initial C++29 standard support
  COMPILERS.md
  include/argparse/argparse.hpp
Due: build, deploy_latest

[docker] Move: Dockerfile to docker
  docker/Dockerfile
Due: none

Add: initialization of ArgumentParser's bool attributes
  include/argparse/argparse.hpp
Due: build, deploy_latest

[3.15] Change default value of sugguest_on_error to true
  include/argparse/argparse.hpp
Due: build, deploy_latest

[tests] Update argument actions unit tests
  tests/unit-argument_actions.cpp
Due: build

Add: BooleanOptionalAction: support for single-dash options
  include/argparse/argparse.hpp
  tests/unit-argument_actions.cpp
Due: build, deploy_latest

[tests] Add: object prefix to names
  tests/unit-argparse_templates.cpp
  tests/unit-argument_abbreviations.cpp
  tests/unit-argument_actions.cpp
  tests/unit-argument_custom_types.cpp
  tests/unit-parser_arguments.cpp
  tests/unit-parser_initization.cpp
  tests/unit-parser_intermixed_parsing.cpp
  tests/unit-parser_parents.cpp
  tests/unit-parser_prefix_chars.cpp
  tests/unit-parser_pseudo_argument.cpp
  tests/unit-parser_subparsers.cpp
  tests/unit-parser_usage_help.cpp
  tests/unit-parser_utf8_flags.cpp
  tests/unit_single-argparse_unicode.cpp
Due: build

Fix: use thread-safe localtime
  include/argparse/argparse.hpp
Due: build, deploy_latest

[tests] Separate argument properties tests
  tests/unit-argument_choices.cpp
  tests/unit-argument_const.cpp
  tests/unit-argument_dest.cpp
  tests/unit-argument_properties.cpp
Due: build

Fix: Argument::dest() value
  include/argparse/argparse.hpp
Due: build, deploy_latest

[tests] Add: unit tests for Argument::dest()
  tests/unit-argument_dest.cpp
Due: build

[3.15] Single-dash long option now takes precedence over short options
  include/argparse/argparse.hpp
  tests/unit-argument_dest.cpp
Due: build, deploy_latest

[third_party] Add: LICENSE
  third_party/catch1/LICENSE_1_0.txt
  third_party/catch2/LICENSE_1_0.txt
Due: none

Fix: Argument::choices() for utf-8 string
  include/argparse/argparse.hpp
Due: build, deploy_latest

[tests] Update unit tests
  tests/unit-argument_choices.cpp
  tests/unit-argument_utf8_flags.cpp
Due: build

Fix: Argument::zero_or_one() 'extend' action with utf-8 const_value
  include/argparse/argparse.hpp
  tests/unit-argument_nargs.cpp
Due: build, deploy_latest

Fix: color of the utf-8 short options
  README.md
  include/argparse/argparse.hpp
Due: build, deploy_latest

Fix: help limit in argument groups for utf-8 string
  include/argparse/argparse.hpp
Due: build, deploy_latest

Code refactoring
  include/argparse/argparse.hpp
Due: build, deploy_latest

Add: detail::_inplace replacement function
  include/argparse/argparse.hpp
Due: build, deploy_latest

Path conditions:
  build: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/argparse/*, src/*, tests/*
  deploy_latest: any of: include/argparse/*
