Repository rue-ryuzaki/argparse: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, deploy_latest

build:
  stage: build
  parallel:
    matrix:
    - standard:
      - 98
      - 11
      - 14
      - 17
      - 20
      - 23
      - 26
  variables:
    BUILD_TYPE: Release
    OUTPUT_REPORT: test-results.xml
  script:
  - cmake -S . -B build/${standard} -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DCMAKE_CXX_STANDARD=${standard}
  ...

deploy_latest:
  stage: deploy
  script:
  - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ${PWD}/include/argparse/argparse.hpp "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/argparse/latest/argparse.hpp"'

[cmake] Update project files
  CMakeLists.txt
  cmake/packaging.cmake
  cmake/prelude.cmake
  examples/CMakeLists.txt
  examples/example.cmake
  tests/CMakeLists.txt
Due: build

Call non-color functions if possible
  include/argparse/argparse.hpp
Due: build, deploy_latest

Refactoring
  include/argparse/argparse.hpp
Due: build, deploy_latest

Add: color output for error message (3.15)
  include/argparse/argparse.hpp
Due: build, deploy_latest

Create object later
  include/argparse/argparse.hpp
Due: build, deploy_latest

Update: CHANGELOG.md
  CHANGELOG.md
Due: none

Update: Copyright
  src/argparse_impl.cpp
Due: build

Set: version to v1.11.0
  CHANGELOG.md
  include/argparse/argparse.hpp
Due: build, deploy_latest

Remove: coverity scan badge
  README.md
Due: none

Improve function argument names
  include/argparse/argparse.hpp
Due: build, deploy_latest

Optimize argument name validation
  include/argparse/argparse.hpp
Due: build, deploy_latest

Add dtors & improve comment
  include/argparse/argparse.hpp
Due: build, deploy_latest

[cmake] Update project files
  CMakeLists.txt
  cmake/packaging.cmake
  cmake/pkg-config.pc.in
Due: build

Optimize code
  include/argparse/argparse.hpp
Due: build, deploy_latest

Optimize colorstream usage
  include/argparse/argparse.hpp
Due: build, deploy_latest

Add color output for deprecated message (3.15)
  include/argparse/argparse.hpp
Due: build, deploy_latest

Optimize detail::_get_close_matches function
  include/argparse/argparse.hpp
Due: build, deploy_latest

tests: Add unit tests for Argument::metavar
  tests/unit-argument_metavar.cpp
Due: build

Path conditions:
  build: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/argparse/*, src/*, tests/*
  deploy_latest: any of: include/argparse/*
